/Assignment.class
/Binary.class
/Block.class
/BoolValue.class
/CharValue.class
/Conditional.class
/Declaration.class
/Declarations.class
/DynamicTyping.class
/Expression.class
/FloatValue.class
/IntValue.class
/Lexer.class
/Loop.class
/Operator.class
/Parser.class
/Program.class
/Semantics.class
/Skip.class
/State.class
/Statement.class
/StaticTypeCheck.class
/Token.class
/TokenType.class
/Type.class
/TypeMap.class
/TypeTransformer.class
/Unary.class
/Value.class
/Variable.class
